* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    input:focus {
        outline: none;
    }
}
